@{
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    //Layout = null;
}
@using FirstWebProject.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "Books store";
}
<div>
    <h3>Books shop</h3>
    <table>
        <tr>
            <td><p>Name</p></td>
            <td><p>Author</p></td>
            <td><p>Price</p></td>
        </tr>
        @* @foreach (var book in ViewBag.Books)*@
        @foreach (Book book in Model)
        {
            <tr>
                <td><p>@book.Name</p></td>
                <td><p>@book.Author</p></td>
                <td><p>@book.Price</p></td>
                <td><p><a href="/Home/Buy/@book.Id">Buy</a></p></td>
            </tr>
        }
    </table>
</div>

@Html.Action("GetList")

@helper BookList(IEnumerable<Book> books)
{
    <ul>
        @foreach (Book book in books)
        {
            <li>@book.Name</li>
        }

    </ul>
}

<h3>Список книг</h3>
@BookList(Model)

@helper CreateList(string[] all)
{
    <ul>
        @foreach (string s in all)
        {
            <li>@s</li>
        }
    </ul>
}

@{
    string[] cities = new string[] { "Kyiv", "Las-Vegas", "Slavuta", "Rivne" };
    string[] countries = new string[] { "Ukraine", "USA", "Great Britan", "France" };
}
<h3>Cities</h3>
@CreateList(cities)
<h3>Countries</h3>
@CreateList(countries)

@using FirstWebProject.Helpers
@Html.ShowList(cities)
@Html.ShowList(countries)
@*@Html.Partial("GetList")*@

@*@{ Html.RenderPartial("GetList");}*@

@using (Html.BeginForm("GetForm", "Home", FormMethod.Post))
{
    @Html.ListBox("countries", new MultiSelectList(new string[] { "Ukraine", "France", "Greate Britan", "USA" }))
    <br />
    @Html.DropDownList("authors", ViewBag.Authors as SelectList)
    <br />
    @Html.RadioButton("color", "red")
    <span>Red</span>
    <br />
    @Html.RadioButton("color", "blue", true)
    <span>Blue</span>
    <br />
    @Html.TextArea("text", "hello", 5, 50, null)
    <input type="submit" value="Send" />
    <br />
    <label>@Html.CheckBox("set", false) Turn in</label>
}
@section Footer
    {
    <h4> Andrii Babenko. 2021.</h4>
}